/*---------------------- google font ---------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    /* width: 1321px; */
    width: 90%;
    
}
main {
    margin-top: 50px;
    margin-bottom: 70px;
}
/*------------------------ header styles  ----------------------*/
header, main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-bannners {

    /* display: flex;
    justify-content: space-evenly; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: #034646;
    border-radius: 30px;
    color: #fff;
    padding-bottom: 40px;
}
.banner {
    margin-left: 40px;
}
.header-title {
    font-weight: 700;
    font-size: 4em;
    animation: jump 2 ease-in-out 0.5s infinite alternate;     
}

.header-description {
    font-weight: 400;
    font-size: 16px;
}

.header-description {
    font-weight: 400;
    font-size: 16px;  
    margin-bottom: 45px;
   
}
.main-button {
    text-decoration: none;
    background: #DD0000;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 16px 25px;
    font-weight: 400;
    font-size: 20px;
    margin-top: 30px;

    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite
}

@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }

.banner-image img {
    width: 100%;
  
}
.fa-angle-right {
    margin-left: 7px;
    
}


/*-------------- player blogs area and side menu --------------*/
.blogs-and-menu {
   
    /* display: flex; */
    display: grid;
    /* grid-template-columns: 315px repeat(3, 1fr); */
    grid-template-columns: 26% 1fr;
    grid-column-gap: 15px;
    
}

.side-menu ul {
    display: flex;
    flex-direction: column;
    padding: 25px 16px;
    border-radius: 10px;
    background-color: #161616;
    /* width: 280px; */
    
}
.side-menu ul li {
    text-align: center;
    list-style: none;
    background-color: #fff; 
    margin-bottom: 30px;
    padding: 18px;
    border-radius: 5px;
   
}
.side-menu ul li a {
    text-decoration: none;
    color: black;
    margin-top: 10px;
    font-weight: 500;
    font-size: 20px;
  
}
.side-menu ul li:nth-last-child(1) {
    background-color: red;
    color: #fff
}
.side-menu ul li:active {
    background-color: red;
    color: #fff
}

/*--------------------- blogs area  ----------------------*/

.blogs {
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 25px;
    grid-column-gap: 24px;
}
.blog {
    /* width: 100%; */
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    padding-bottom: 10px;
}
.blog-image img {
    width: 100%;
    height: 175px;
}
.blog-content {
    margin-top: 25px;
    margin-left: 15px;
}
.blog-button {
    text-decoration: none;
    border: 1px solid #161616;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    padding: 5px 18px;
}
.blog-short-title {
    font-weight: 600;
    font-size: 18px;
    color: #161616;
 
}

.blog-footer {
    display: flex;
}

.duration, .comment {
    margin-right: 40px;
    font-weight: 400;
    font-size: 16px;
    color: rgba(22, 22, 22, 0.7);
}

.view-all-button {
    margin: auto;
    display: none;
    margin-top: 50px;
}
.view-all-button a {
    text-decoration: none;
    background-color: #DD0000;
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
}
/*---------------- footer area styles -------------- */

footer {
    padding: 60px 0;
    text-align: center;
    background-color: #161616;
    color: #fff;
}
.footer-title {
    
    margin-left: 5px;
}

hr {
    
    width: 90%;
    border: 1px solid rgba(255, 255, 255, 0.1);
 
}
.footer-menu {
    margin-top: 25px;
   
}
.footer-menu ul {
    display: flex;
    justify-content: center;
}

.footer-menu ul li {
    list-style: none;
}
.footer-menu ul li a {
    text-decoration: none;
    color: #B9B9B9;
    margin-left: 20px;
}

.social-menu{
    margin-top: 10px;
    margin-bottom: 30px;
}
.social-menu ul {
    display: flex;
    justify-content: center;
}
.social-menu ul li {
    font-size: 30px;
    margin-left: 15px;
    list-style: none;
}
.social-menu ul li a {
    text-decoration: none;
    color: aqua;
}

footer p {
    margin-right: 70px;
}
/*---------------------- live match area  -----------------------*/

.live-match-and-menu {
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-column-gap: 25px;
}
.live-macths {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 25px;
    grid-column-gap: 20px;
}
.match {
   
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    margin-top: 15px;
}
.teams {
    display: flex;
    align-items: center;
    justify-content: center;
}
.team img {
    /* width: 166px; */
    width: 90%;

}
.team-title {
    font-weight: 600;
    font-size: 20px;
    color: #161616;
}
.match-duration {
    font-weight: 400;
    font-size: 16px;
    color: #4D4D4D;
}



/*------------------------ responsive at tablet view  -------------------------*/

/*---------------- tablet device  ----------------------*/
@media screen and (min-width: 577px) and (max-width: 992px){
    .blogs-and-menu, .live-match-and-menu {
        grid-template-columns: repeat(1, 1fr);
    }
    .side-menu ul{
        flex-direction: row;
        background: none;
        justify-content: center;
        
       
    }
    .side-menu ul li {
        margin-left: 20px;
        padding: 10px 30px;
        border: 1px solid black;
    }
    .blogs, .live-macths {
        grid-template-columns: repeat(2, 1fr);
    }
    .view-all-button {
        display: block;
    }
    .footer-menu ul li a {
        margin-left: 10px;
    }
}

/* ----------------    mobile device    -------------*/

@media screen and (max-width: 576px){
    .top-bannners {
        text-align: center;
    }
    .banner {
        padding: 20px;
    }
    .header-title {
        font-size: 1.5em;
        
    }

    .banner-image {
        margin-top: 50px;
    }
    .top-bannners {
        grid-template-columns: repeat(1, 1fr);
    }
    .side-menu ul {
        background: none;
    }
    .side-menu ul li {
        border: 1px solid black;
    }
    .blogs-and-menu, .live-match-and-menu {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .blogs, .live-macths {
        grid-template-columns: repeat(1, 1fr);
    }
    .live-macths {
        justify-content: center;
    }
    .footer-title {
        margin-left: 50px;
    }
    .footer-menu ul {
        flex-direction: column;
    }
    footer p {
        margin-right: 5px;
        margin-bottom: 40px;
    }
   
}